<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Attendance</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="bg-gray-100 font-sans flex flex-col min-h-screen">

  
    <nav class="bg-blue-500 p-4 text-center">
        <a href="{{ url_for('teacher_home') }}" class="text-white">Home</a>
        <a href="{{ url_for('teacher_courses') }}" class="text-white ml-4">Courses</a>
        <a href="{{ url_for('teacher_logout') }}" class="text-white ml-4">Logout</a>
    </nav>

   
    <div class="flex-grow flex items-center justify-center">
        <div class="container mx-auto p-8 bg-white rounded-md shadow-md">
            <h1 class="text-3xl font-bold mb-8 text-center">Mark Attendance</h1>
            <form method="POST" action="{{ url_for('mark_attendance', course_id=course.id) }}">
                {{ form.csrf_token }}
                <label for="date" class="block text-gray-700">Date:</label>
                <input type="date" id="date" name="date" required class="p-2 border rounded-md mb-4 w-full">

                <!-- Assuming you have a 'status' field in your form -->
                {% for student in students %}
                    <label for="status_{{ student.id }}" class="block text-gray-700">{{ student.username }}:</label>
                    <select id="status_{{ student.id }}" name="status_{{ student.id }}" class="p-2 border rounded-md mb-4 w-full">
                        <option value="present">Present</option>
                        <option value="absent">Absent</option>
                    </select>
                {% endfor %}

                <input type="submit" value="Submit" class="bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer w-full">
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>
