<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Courses</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="bg-gray-100 font-sans">


    <nav class="bg-blue-500 p-4 text-center">
        <a href="{{ url_for('teacher_home') }}" class="text-white">Home</a>
        <a href="{{ url_for('teacher_courses') }}" class="text-white ml-4">Courses</a>
        <a href="{{ url_for('teacher_logout') }}" class="text-white ml-4">Logout</a>
    </nav>

 
    <div class="container mx-auto p-8">
        <h1 class="text-3xl font-bold mb-4">{{ current_user.username }} Courses</h1>

        <!-- Display the list of courses taught by the teacher with links to individual course pages -->
        <ul class="list-disc pl-4">
            {% for course in courses_taught %}
                <li class="mb-4">
                    <strong class="text-xl">{{ course.name }}</strong>
                    <ul class="list-disc pl-4">
                        <li><a href="{{ url_for('course_page', course_id=course.id) }}" class="text-blue-500">View Course Details</a></li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>
</html>
